.logo-img img {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}

.footer-logo img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .logo-img img {
        width: 120px;
    }
    .footer-logo img {
        width: 100px;
    }
}
